.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
  }
  
  .navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar-search {
    display: flex;
    align-items: center;
  }
  
  .navbar-search input {
    padding: 5px;
    font-size: 16px;
  }
  
  .navbar-search button {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
  }

 
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
 